<p style = "@($"color: {(Server.IsOnline ? "green" : "red")}")">
	@Server.Name is located in @Server.City and it is currently @(Server.IsOnline ? "Online" : "Offline").
</p>


@code {

	private Server Server = new Server { Name = "Server 1", City = " Addis Ababa "};
}
